@import "tailwindcss";

:root {
  background-color: #ffffff;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Geist Mono", monospace;
}

@theme {
  --font-sans: "Geist Mono", monospace;
}
